.header-top{
width: 375px;
height: 55px;
@include display-flex-center;
padding: 20px 20px 15px;
background-color: $bg-color2;
.row{
    @include display-flex-between;
    width: 335px;
height: 20px;
.col1{
    width: 33%;
    @include display-flex-between;
    p{
        @include display-none;
    }
}
.col2{
    p{
        @include description;
        line-height: 16px;
        color: $bg-color1;
    }
}
}
}
@media (min-width:1600px){
.header-top{
 width: 1920px;
height: 59px;
padding: 17px 251px;
.row{
    width: 1418px;
height: 25px;
.col1{
    width: 739px;
height: 25px;
    p{
        display: flex;
        @include description;
        line-height: 25px;
        color: #FFFFFF;
    }
}
}
        }
    }
