*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
@import "./variables";
@import "./header-top";
@import "./header";
@import "./container";
@import "./main";
@import "./about-us";
@import "./why-choose-us";
@import "./working-process";
@import "./cta";
@import "./your-team";
@import "./clients-saying";
@import "./asked-questions";
@media (min-width:1600px){
    body{
        width: 1920px;
    }}